@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&display=swap');


.hero-container {
  background : linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./bgpic_..jpg');
  background-size : cover;
  height: 100vh;
  width : 100vw;
  background-repeat:no-repeat; 
  background-position: center;
  position: relative;
}
.hero-image{
  text-align:center;
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  color:white;
  margin-top: 5%;
}
.hero-image h1
{
  font-family:'Poppins', sans-serif;
  text-align: center;
  font-size: 45px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type=text]{
  position: relative;
  padding: 15px 40px 15px 20px;
  color: #525252;
  font-size: 17px;
  font-family:'Poppins', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  outline: none;
}
button{
  background-color: #000000; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  margin-left: 5%;
  padding: 15px 32px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}